apiVersion: v1
kind: Pod
metadata:
  annotations:
    cattle.io/timestamp: '2025-12-11T09:25:04Z'
  creationTimestamp: '2025-12-11T09:25:05Z'
  generateName: truetest-demo-app-7988fbc9b6-
  labels:
    app.kubernetes.io/instance: truetest-demo
    app.kubernetes.io/name: app
    pod-template-hash: 7988fbc9b6
  managedFields:
    - apiVersion: v1
      fieldsType: FieldsV1
      fieldsV1:
        f:metadata:
          f:annotations:
            .: {}
            f:cattle.io/timestamp: {}
          f:generateName: {}
          f:labels:
            .: {}
            f:app.kubernetes.io/instance: {}
            f:app.kubernetes.io/name: {}
            f:pod-template-hash: {}
          f:ownerReferences:
            .: {}
            k:{"uid":"75d14e68-2741-4581-9076-b8ba75c6d800"}: {}
        f:spec:
          f:containers:
            k:{"name":"nginx"}:
              .: {}
              f:envFrom: {}
              f:image: {}
              f:imagePullPolicy: {}
              f:livenessProbe:
                .: {}
                f:failureThreshold: {}
                f:httpGet:
                  .: {}
                  f:path: {}
                  f:port: {}
                  f:scheme: {}
                f:initialDelaySeconds: {}
                f:periodSeconds: {}
                f:successThreshold: {}
                f:timeoutSeconds: {}
              f:name: {}
              f:ports:
                .: {}
                k:{"containerPort":8080,"protocol":"TCP"}:
                  .: {}
                  f:containerPort: {}
                  f:name: {}
                  f:protocol: {}
              f:readinessProbe:
                .: {}
                f:failureThreshold: {}
                f:httpGet:
                  .: {}
                  f:path: {}
                  f:port: {}
                  f:scheme: {}
                f:initialDelaySeconds: {}
                f:periodSeconds: {}
                f:successThreshold: {}
                f:timeoutSeconds: {}
              f:resources:
                .: {}
                f:requests:
                  .: {}
                  f:cpu: {}
                  f:memory: {}
              f:terminationMessagePath: {}
              f:terminationMessagePolicy: {}
            k:{"name":"nginx-proxy"}:
              .: {}
              f:image: {}
              f:imagePullPolicy: {}
              f:name: {}
              f:ports:
                .: {}
                k:{"containerPort":80,"protocol":"TCP"}:
                  .: {}
                  f:containerPort: {}
                  f:name: {}
                  f:protocol: {}
              f:resources:
                .: {}
                f:limits:
                  .: {}
                  f:cpu: {}
                  f:memory: {}
                f:requests:
                  .: {}
                  f:cpu: {}
                  f:memory: {}
              f:terminationMessagePath: {}
              f:terminationMessagePolicy: {}
              f:volumeMounts:
                .: {}
                k:{"mountPath":"/etc/nginx/nginx.conf"}:
                  .: {}
                  f:mountPath: {}
                  f:name: {}
                  f:subPath: {}
          f:dnsPolicy: {}
          f:enableServiceLinks: {}
          f:imagePullSecrets:
            .: {}
            k:{"name":"regcred"}: {}
          f:restartPolicy: {}
          f:schedulerName: {}
          f:securityContext: {}
          f:terminationGracePeriodSeconds: {}
          f:volumes:
            .: {}
            k:{"name":"truetest-demo-nginx-sidecar"}:
              .: {}
              f:configMap:
                .: {}
                f:defaultMode: {}
                f:name: {}
              f:name: {}
      manager: kube-controller-manager
      operation: Update
      time: '2025-12-11T09:25:05Z'
    - apiVersion: v1
      fieldsType: FieldsV1
      fieldsV1:
        f:status:
          f:conditions:
            k:{"type":"ContainersReady"}:
              .: {}
              f:lastProbeTime: {}
              f:lastTransitionTime: {}
              f:status: {}
              f:type: {}
            k:{"type":"Initialized"}:
              .: {}
              f:lastProbeTime: {}
              f:lastTransitionTime: {}
              f:status: {}
              f:type: {}
            k:{"type":"PodReadyToStartContainers"}:
              .: {}
              f:lastProbeTime: {}
              f:lastTransitionTime: {}
              f:status: {}
              f:type: {}
            k:{"type":"Ready"}:
              .: {}
              f:lastProbeTime: {}
              f:lastTransitionTime: {}
              f:status: {}
              f:type: {}
          f:containerStatuses: {}
          f:hostIP: {}
          f:hostIPs: {}
          f:phase: {}
          f:podIP: {}
          f:podIPs:
            .: {}
            k:{"ip":"10.233.70.195"}:
              .: {}
              f:ip: {}
          f:startTime: {}
      manager: kubelet
      operation: Update
      subresource: status
      time: '2025-12-11T09:25:18Z'
  name: truetest-demo-app-7988fbc9b6-lb9ht
  namespace: truetest-demo-prod
  ownerReferences:
    - apiVersion: apps/v1
      blockOwnerDeletion: true
      controller: true
      kind: ReplicaSet
      name: truetest-demo-app-7988fbc9b6
      uid: 75d14e68-2741-4581-9076-b8ba75c6d800
  resourceVersion: '37079111'
  uid: a2867fa1-fc4e-43c2-b921-dcf14cb20908
spec:
  containers:
    - envFrom:
        - configMapRef:
            name: env-config
      image: katalon/truetest-demo:production-manual-41
      imagePullPolicy: IfNotPresent
      livenessProbe:
        failureThreshold: 2
        httpGet:
          path: /
          port: 80
          scheme: HTTP
        initialDelaySeconds: 10
        periodSeconds: 2
        successThreshold: 1
        timeoutSeconds: 1
      name: nginx
      ports:
        - containerPort: 8080
          name: http
          protocol: TCP
      readinessProbe:
        failureThreshold: 2
        httpGet:
          path: /
          port: 80
          scheme: HTTP
        initialDelaySeconds: 10
        periodSeconds: 2
        successThreshold: 1
        timeoutSeconds: 1
      resources:
        requests:
          cpu: 10m
          memory: 50Mi
      terminationMessagePath: /dev/termination-log
      terminationMessagePolicy: File
      volumeMounts:
        - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
          name: kube-api-access-hj49t
          readOnly: true
    - image: nginx:1.25-alpine
      imagePullPolicy: IfNotPresent
      name: nginx-proxy
      ports:
        - containerPort: 80
          name: http
          protocol: TCP
      resources:
        limits:
          cpu: 100m
          memory: 128Mi
        requests:
          cpu: 50m
          memory: 64Mi
      terminationMessagePath: /dev/termination-log
      terminationMessagePolicy: File
      volumeMounts:
        - mountPath: /etc/nginx/nginx.conf
          name: truetest-demo-nginx-sidecar
          subPath: nginx.conf
        - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
          name: kube-api-access-hj49t
          readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  imagePullSecrets:
    - name: regcred
  nodeName: dataplane4
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext: {}
  serviceAccount: default
  serviceAccountName: default
  terminationGracePeriodSeconds: 60
  tolerations:
    - effect: NoExecute
      key: node.kubernetes.io/not-ready
      operator: Exists
      tolerationSeconds: 300
    - effect: NoExecute
      key: node.kubernetes.io/unreachable
      operator: Exists
      tolerationSeconds: 300
  volumes:
    - configMap:
        defaultMode: 420
        name: truetest-demo-nginx-sidecar
      name: truetest-demo-nginx-sidecar
    - name: kube-api-access-hj49t
      projected:
        defaultMode: 420
        sources:
          - serviceAccountToken:
              expirationSeconds: 3607
              path: token
          - configMap:
              items:
                - key: ca.crt
                  path: ca.crt
              name: kube-root-ca.crt
          - downwardAPI:
              items:
                - fieldRef:
                    apiVersion: v1
                    fieldPath: metadata.namespace
                  path: namespace
status:
  conditions:
    - lastProbeTime: null
      lastTransitionTime: '2025-12-11T09:25:08Z'
      status: 'True'
      type: PodReadyToStartContainers
    - lastProbeTime: null
      lastTransitionTime: '2025-12-11T09:25:05Z'
      status: 'True'
      type: Initialized
    - lastProbeTime: null
      lastTransitionTime: '2025-12-11T09:25:18Z'
      status: 'True'
      type: Ready
    - lastProbeTime: null
      lastTransitionTime: '2025-12-11T09:25:18Z'
      status: 'True'
      type: ContainersReady
    - lastProbeTime: null
      lastTransitionTime: '2025-12-11T09:25:05Z'
      status: 'True'
      type: PodScheduled
  containerStatuses:
    - containerID: >-
        containerd://e68851384d69233b3b4ec8a942e84453ffe88bbea8464a461c05629e3d75018f
      image: docker.io/katalon/truetest-demo:production-manual-41
      imageID: >-
        docker.io/katalon/truetest-demo@sha256:ac160e58d263e11f343aec205e3fb6383bd39d6eb3e13652c35e14bea971bc5d
      lastState: {}
      name: nginx
      ready: true
      restartCount: 0
      started: true
      state:
        running:
          startedAt: '2025-12-11T09:25:08Z'
      volumeMounts:
        - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
          name: kube-api-access-hj49t
          readOnly: true
          recursiveReadOnly: Disabled
    - containerID: >-
        containerd://3fae9f536be64ed9754bedbefbe8ad92d18695e7d4948c001cd5e7040df1239f
      image: docker.io/library/nginx:1.25-alpine
      imageID: >-
        docker.io/library/nginx@sha256:516475cc129da42866742567714ddc681e5eed7b9ee0b9e9c015e464b4221a00
      lastState: {}
      name: nginx-proxy
      ready: true
      restartCount: 0
      started: true
      state:
        running:
          startedAt: '2025-12-11T09:25:08Z'
      volumeMounts:
        - mountPath: /etc/nginx/nginx.conf
          name: truetest-demo-nginx-sidecar
        - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
          name: kube-api-access-hj49t
          readOnly: true
          recursiveReadOnly: Disabled
  hostIP: 10.54.0.17
  hostIPs:
    - ip: 10.54.0.17
  phase: Running
  podIP: 10.233.70.195
  podIPs:
    - ip: 10.233.70.195
  qosClass: Burstable
  startTime: '2025-12-11T09:25:05Z'
